/* The @import rule below imports the Playfair Display and Source Sans Pro fonts into the stylesheet*/
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Source+Sans+Pro:wght@400&display=swap");

body {
  background-color: #eae2b7;
  color: #003049;
  font-family: "Source Sans Pro", Tahoma, Geneva, Verdana, sans-serif;
  padding: 40px;
  font-size: 14px;
  margin-left: 300px;
  margin-right: 300px;
}

/* Headings */
h1,
h2,
h3 {
  font-family: "Playfair Display", Times, serif;
  text-align: center;
}


.container {
display: flex;
flex-direction: row;
vertical-align: middle;
margin: auto;
}
.item {
  margin: auto;
}
/* Header */
header {
padding-left: 100px; 
padding-right: 100px;
text-align: center;

}
section {
  display: flex;
align-items: center;
justify-content: space-between;
text-align: left;

}

/* About section layout */
.about-intro {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap; /* makes it responsive on smaller screens */
  margin-bottom: 40px;
}

.about-image img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #003049;
}

.about-text {
  flex: 1;
  max-width: 400px;
}



/* Portfolio section layout */
.portfolio-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
 /* gap: 30px; /* spacing between projects */
  /*flex-wrap: wrap; /* responsive: wraps on smaller screens */
  margin-top: 20px;
}

.project {
  /*background-color: #fefae0;*/
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  flex: 1;
  min-width: 250px;
  max-width: 300px;
  /*box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);*/
}

.project img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.project p {
  font-size: 14px; /* smaller description text */
  text-align: left;
  margin-top: 10px;
  line-height: 1.4;
}
/* Footer */
footer {
  text-align: center;
}

/* Other page elements */
hr {
  border: 1px solid black;
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav{
  display: flex;
  gap: 15px;
  color: #d62828;
}
.background{
  flex-direction: column;
  margin: auto;
}
a{
  text-decoration: none;
  color: #d62828;
}
